
.table-container, .form-container {
    width: 100%;
    text-align: center;
    background: linear-gradient(#46695D, #a3cebf);
    margin-top: 100px;
}
.table-box, .form-box {
    display: inline-block;
    padding: 30px;
    color: #fff;    
}

/* table */

table, tr, td {
    border: 1px solid #46695D;
    border-collapse: collapse;
}
tbody>tr:first-child td {
    text-transform: uppercase;
}
thead {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
}
td {
    padding: 5px;
}

/* form */

h2, p, label {
    line-height: 2em;
}
h2 {
    text-transform: uppercase;
}
label, input, button {
    margin-top: 10px;
}
input, button {
    padding: 10px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
}



/* media */

@media screen and (min-width: 768px) {
    td {
        padding: 20px;
    }
}