/* general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #46695D;
    height: 100%;
}
a {
    text-decoration: none;
}
.wrapper {
    height: 100vh;
}
/* header */
.header, .navigation-top ul {
    background-color: #fff;
}
.logo {
    text-align: center;
}
.logo img {
    width: 200px;
    height: auto;
    margin-top: 30px;
}
.navigation-top {
    text-align: center;;
}
.navigation-top ul {
    list-style-type: none;
    position: relative;
    top: 30px;
}
.navigation-top ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.navigation-top ul li a, .button-request {
    text-transform: uppercase;
    color: #000;
}
.navigation-top ul li a:hover {
    text-decoration: underline;
    color: #810694;
}

/* main */
.description {    
    text-align: center;
    margin: 40px 20px 5px 20px;
}
.description>div {
    background-color: #46695D;
    color: #fff;
}
.button-request p {
    display: inline-block;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #FCE492;
}

.button-request p:hover {
    transition: 1s ease transform;
    transform: scale(1.3);
}

.left, .center, .right {
    text-align: center;
    background-color: #a3cebf;
}

.left img, .center img, .right img {
    width: 300px;
    height: 450px;
}
.left p, .center p, .right p {
    position: relative;
    top: -100px;
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.1em;
    opacity: 0.7;
}
.img-scale {
    display: inline-block;
}
.img-scale:hover {
    transition: 1s ease transform;
    transform: scale(1.1);
}

/* footer */
footer {
    height: 200px;
}

footer, .footer-text, .footer-iframe {
    background-color: #46695D;
    color: #fff;
}

.footer-text {
    padding: 40px;
}
.footer-text ul li {
    list-style-type: none;
}
iframe {
    display: none;
}


/* media */

@media screen and (min-width: 768px) {
    .description {
        margin: 40px 100px 5px 100px;
    }
    iframe {
        display: block;
        margin: 0 auto;
        padding: 10px;
    }
}

@media screen and (min-width: 992px) {
    .logo {
        text-align: left;
    }
    .logo img {
        width: 100px;
        margin-left: 50px;
        margin-top: 10px;    
    }
    .left img, .center img, .right img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .description {
        margin: 40px 150px 5px 150px;
    }
}
    

@media screen and (min-width: 1200px) {
    .navigation-top {
        text-align: right;
    }
    .navigation-top ul li {
        padding-left: 50px;
        padding-right: 50px;
    }

}